numpy==2.4.4
pandas==2.3.3
scipy==1.17.1
scikit-learn==1.8.0
joblib==1.5.3
tqdm==4.67.3
matplotlib==3.10.9
seaborn==0.13.2
torch==2.11.0
sdv==1.36.1
realtabformer==0.2.4
transformers==4.57.6
smartnoise-synth==1.0.8
zero==0.9.2
category_encoders==2.9.0
tomli-w==1.2.0
tomli==2.4.1
icecream==2.2.0
xlrd==2.0.2
openpyxl==3.1.5
