@font-face{font-family:Roboto;font-style:normal;font-weight:400;font-display:swap;src:url('./roboto-400.woff2') format('woff2')}
@font-face{font-family:Roboto;font-style:normal;font-weight:500;font-display:swap;src:url('./roboto-500.woff2') format('woff2')}
@font-face{font-family:Roboto;font-style:normal;font-weight:600;font-display:swap;src:url('./roboto-600.woff2') format('woff2')}
@font-face{font-family:Roboto;font-style:normal;font-weight:700;font-display:swap;src:url('./roboto-700.woff2') format('woff2')}
@font-face{font-family:Roboto;font-style:normal;font-weight:800;font-display:swap;src:url('./roboto-800.woff2') format('woff2')}
